<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" name="user_form" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-4 control-label">Nombre</label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <input class="form-control" ng-model="form_user.firstName" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Apellido</label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <input class="form-control" ng-model="form_user.lastName" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': user_form.username.$invalid && (user_form.username.$touched || user_form.username.$dirty), 'has-success': user_form.username.$valid && (user_form.username.$touched || user_form.username.$dirty) }">
                    <label class="col-md-4 control-label">Nombre de Usuario</label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <div ng-show="user_form.username.$invalid && (user_form.username.$touched || user_form.username.$dirty)">
                                <div class="input-icon right">
                                    <i class="fa fa-warning tooltips"></i>
                                </div>
                            </div>
                            <div ng-show="user_form.username.$valid && (user_form.username.$touched || user_form.username.$dirty)">
                                <div class="input-icon right">
                                    <i class="fa fa-check tooltips"></i>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" required minlength="5" maxlength="64" name="username" ng-model="form_user.username" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Contraseña</label>
                <div class="col-md-8">
                    <div class="input-icon right">
                        <input class="form-control" ng-model="form_user.password" type="password">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-4 col-md-8">
                    <button class="btn blue" ng-click="saveUser()" type="submit">Save</button>
                    <button class="btn default" type="button" ui-sref="admin.users.list">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
